ai-customer-support-ticketing.json
{
  "name": "ai-customer-support-ticketing",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ],
      "id": "051108ac-3802-4fc7-a9ee-43adff24b1b9",
      "name": "Telegram Trigger",
      "webhookId": "58801050-965b-4201-8ac3-18e97ff7bc7a",
      "credentials": {}
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.groq.com/openai/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer YOUR_GROQ_API_KEY"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"llama-3.1-8b-instant\",\n  \"messages\": [\n    {\n      \"role\": \"user\",\n      \"content\": \"Customer message: {{$json.message.text}}\\n\\nAnalyze it and return ONLY valid JSON:\\n{\\\"summary\\\":\\\"one sentence summary\\\",\\\"priority\\\":\\\"low | medium | high | urgent\\\",\\\"category\\\":\\\"login | billing | technical | other\\\",\\\"needs_human\\\":true}\"\n    }\n  ],\n  \"temperature\": 0.2\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        208,
        0
      ],
      "id": "ff8308bf-b889-44e8-8d5a-3983a2399a50",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "jsCode": "const content = $json.choices[0].message.content;\nconst parsed = JSON.parse(content);\n\nreturn [\n  {\n    json: parsed\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        416,
        0
      ],
      "id": "b4a6614c-6a88-41bd-a9f8-090fc8809e90",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1mOPbFAVPDhdW3sFKRIsG0ZUFOm-djJxooNBMoMO2GIo",
          "mode": "list",
          "cachedResultName": "support-tickets",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1mOPbFAVPDhdW3sFKRIsG0ZUFOm-djJxooNBMoMO2GIo/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1mOPbFAVPDhdW3sFKRIsG0ZUFOm-djJxooNBMoMO2GIo/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "date": "={{$now}}",
            "customer_message": "={{$node[\"Telegram Trigger\"].json[\"message\"][\"text\"]}}",
            "summary": "={{$json[\"summary\"]}}",
            "priority": "={{$json[\"priority\"]}}",
            "category": "={{$json[\"category\"]}}",
            "needs_human": "={{$json[\"needs_human\"]}}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "date",
              "displayName": "date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "customer_message",
              "displayName": "customer_message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "summary",
              "displayName": "summary",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "priority",
              "displayName": "priority",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "category",
              "displayName": "category",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "needs_human",
              "displayName": "needs_human",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        624,
        0
      ],
      "id": "a35361d1-a7f1-492b-977b-ba10d41a792b",
      "name": "Append row in sheet",
      "credentials": {}
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "01764d82-256a-4120-9e0b-a6b7868b7a22",
              "leftValue": "={{ $json.priority }}",
              "rightValue": "urgent",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        832,
        0
      ],
      "id": "95b2fe1f-ab32-4972-8a3c-3031cec5dc58",
      "name": "If"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "=\ud83d\udea8 URGENT SUPPORT TICKET  Customer Message: {{$node[\"Telegram Trigger\"].json[\"message\"][\"text\"]}} \nSummary: {{$json[\"summary\"]}} \nCategory: {{$json[\"category\"]}}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1040,
        -96
      ],
      "id": "df0edc55-5c23-49c6-bd29-13f7625855e1",
      "name": "Send a text message",
      "webhookId": "e5bc6073-2551-401e-8cd2-978bf43c54a9",
      "credentials": {}
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "\u2705 Your support ticket has been received.\n\nOur support team will review your request and get back to you as soon as possible.",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1040,
        96
      ],
      "id": "618cb44f-6df6-4642-810b-99468863d018",
      "name": "Send a text message1",
      "webhookId": "f0b46f12-504f-4254-ad27-a05e742e0de5",
      "credentials": {}
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a text message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "5b5b69bb-adad-4593-8d29-6ad5df4d0423",
  "meta": {},
  "id": "51Bqt9iWtTT32cKa",
  "tags": []
}